h1 {
   display: block;
   margin: 0;
   text-align: center;
}

div > div {
   display: inline-block;
   border: 1px solid black;
   margin: .5em;
}

#map {
   width: 100vw;
   height: 45vh;
   padding: 0;
   margin: 0;
}

#otsikot, #alaosa {
   display: grid;
   grid-template-columns: 25vw auto 25vw;
}

#alaosa {
   height: 45vh;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

#rastilista {
   column-count: 4;
}